.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 310px;
    height: 150px;
    gap:10px


}
.child{

    width: 70px;
    height: 30px;
    flex-wrap: wrap;
    flex-grow: 1;
}
.child.bar{
    display: flex;
    width:310px;
    height:50px;
    justify-content: end;
    align-items: end;
}
.value{
    margin: 5px;
}